<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CartDetailsMapper">

    <select id="getCartDetailByCartId" resultType="CartDetails">
        select * from cart_details where cartId=#{cartId}
    </select>

    <insert id="addCartDetails" parameterType="CartDetails" useGeneratedKeys="true" keyProperty="cartDetailsId" keyColumn="cartDetailsId">
        insert into cart_details(cartId,goodsId,amount) values(#{cart.cartId},#{goods.goodsId},#{amount})
    </insert>

    <delete id="deleteCartDetails">
        delete from cart_details where cartDetailsId=#{cartDetailsId}
    </delete>

    <resultMap id="cartDetailsMap" type="CartDetails">
        <id property="cartDetailsId" column="cartDetailsId"/>
        <result column="amount" property="amount"/>
        <association property="goods" javaType="Goods">
            <id column="goodsId" property="goodsId"/>
            <result column="goodsPrice" property="goodsPrice"/>
        </association>
    </resultMap>
    <select id="getCartDetailById" resultMap="cartDetailsMap">
        select * from cart_details as c
        LEFT JOIN goods as g
        on c.goodsId=g.goodsId
        where cartDetailsId=#{cartDetailsId}
    </select>
</mapper>